.title {
    text-align: center;
    color: orangered;
}

.user-form, .loading {
    width: 20%;
    margin: 0 auto
}

.loading {
    text-align: center;
}

.msgs {
    width: 90%;
    margin: 0 auto;
}