.title {
    text-align: left;
    color: black;
    margin-left: 3%;
}

.user-form, .loading {
    width: 20%;
    margin-left: 3%;
}

.loading {
    text-align: center;
}

.msgs {
    width: 70%;
    margin-left: 2%;
}

.Foot {
    margin-top: 50px;
}

.Foot small {
    margin-left: 5%;
    color: black;
    border: thin;
    border-color: black;
    border-style:solid;
    padding: 20px;
}